@model List<Jangi.Models.Tag>

<ul>
    <li><a href="#">Tout</a></li>
    <li><a href="#">Nouveaux</a></li>
    <li><a href="#">Populaires</a></li>
@foreach (var category in Model)
{
    <li><a href="#">@category.tag</a></li>
}
</ul>
