

 <!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h2>
                 Publications Recentes
            </h2>
    @if (User.Identity.IsAuthenticated)
    {
            <p><a href="@Url.RouteUrl("NewPost")" class="" style="float:right"><b>+</b>Nouvelle Publication</a></p>
    }
       </header>
        @{
            Html.RenderAction("Publications", "Posts", new { area = string.Empty });
        }
        </div>
    </section>

            